@import '../../App';


.page-container {
	padding-top:2em;
	//display:flex;
	//flex:1;
	//justify-content:center;
}


.calc-card {
	border-radius:5px;
	background-color:$light-gray;
	padding:2em;
	width:500px;
}

.result-card {
	border-radius:5px;
	background-color:$light-gray;
	padding:1em;
}

.calc-title-container {
	display:flex;
	flex:1;
	justify-content:center;
}

.form-container {
	margin-top:0.5em;
}

.go-button {
	margin-bottom:0;	
}

.button-bar {
	display:flex;
	flex:1;
	justify-content:flex-end;
}

.result {
	margin:0;
	font-size:30px;
}

.result-description {
	margin:0;
}